*{
    margin:0%;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container {
    background-image: url('../images/banner/banner1.png');
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-title {
    text-align: right;
    color: #151414;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    

}
.header-title-main{
    position: relative;
    top: 300px;
    right: 150px;
    
  
}
.text-primary {
    color: #444343;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.text-primary-main{
    position: relative;
    top: 300px;
    right: 150px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    position:absolute;
    right: 0%;
    font-size: 20px;
    font-weight: 600;
    border: none;

}

.btn-primary-main{
    position: relative;
    top: 340px;
    right: 150px;
}

.main-primary{
    display: flex;
}

.img-content{ 
    position: relative;
    left: 300px;
    top: 150px;
}

.text-next{
    color:#151414;
    font-size: 40px;
    font-weight: 700;
}

.h3-content{
    position: relative;
    left: 490px;
    top: 280px;

}

.text-hot{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.p-content{
    position: relative;
    left: 220px;
    top: 400px;

}