* {
    margin: 0%;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    background-image: url('../images/banner/banner1.png');
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-title {
    text-align: right;
    color: #151414;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;


}

.header-title-main {
    position: relative;
    top: 300px;
    right: 150px;


}

.text-primary {
    color: #444343;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.text-primary-main {
    position: relative;
    top: 300px;
    right: 150px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    position: absolute;
    right: 0%;
    font-size: 20px;
    font-weight: 600;
    border: none;

}

.btn-primary-main {
    position: relative;
    top: 340px;
    right: 150px;
}

.main-primary {
    display: flex;
}

.img-content {
    position: relative;
    left: 300px;
    top: 150px;
}

.text-next {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.h3-content {
    position: relative;
    left: 490px;
    top: 280px;

}

.text-hot {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.p-content {
    position: relative;
    left: 220px;
    top: 400px;

}

li {
    list-style: none;
    margin-top: 5px;
}

.section-two {
    position: relative;
    left: 1010px;
    bottom: 200px;

}

.section-for-list {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.h3-text {
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
}

.planexample {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.plan-exp {
    margin-right: 150px;
    margin-bottom: 80px;
    margin-left: 20px;
}

.hardwork {
    width: 1140px;
    height: 300px;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 320px;
    margin-right: 230px;
    margin-bottom: 130px;
}

.motivation {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding: 50px;

}

.call-button {
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-style: solid 0px;
    width: 160px;
    height: 64px;
    margin-left: 50px;
    margin-bottom: 200px;
}

.footer {
    background-color: black;
    margin-top: 130px;
    position: relative;
}

.f-title {
    color: white;
    margin-top: 130px;
    margin-left: 230px;
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;

}

.f-description {
    color: white;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 230px;

}

.email {
    color: white;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 230px;
}

.phone {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 230px;
}


.icons {
    margin-top: 10px;
    margin-right: 10px;

}

.img-alt {
    margin-left: 230px;
}

.subscribe {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-left: 1000px;

}

.form {
    border-radius: 8px;
    

}

.form textarea {
    background-color: black;
  }

.subscribe-button {
    border-radius: 8px;
    background: #FFF;
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    
}

.hot {
    position: absolute;
    top: 20px;
    right: 431px;
}

.hot-2{
    position: absolute;
    top: 50px;
    right: 309px;
    margin-top: 31px;
}